
/*this is the css for spring project one_generate info for each API*/
body, html {
    /*margin: 0;
    padding: 0;*/
    font-family: Arial, sans-serif;
    background-color: white;
}

.button-container {
    text-align: center;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
.form-input {
    text-align: center;
    margin-bottom: 20px;
}
.apod-result img, .apod-result iframe {
    max-width: 100%;
    height: auto;
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image */
}
.apod-result {
    text-align: center;
}


button {
    margin: 20px 0;
    font-family: "Montserrat";
    /*font-size: 16pt;*/
    word-spacing: 5pt;
    text-align: center;
    background-color: #A93226;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Customizing labels */
label {
    font-family: "Montserrat";
    font-size: 16px; /* Adjust the size as needed */
    color: #333333; /* Set your preferred color */
}

#result {
    font-family: "Montserrat"; /* Change to your preferred font */
    font-size: 18px; /* Adjust the size as needed */
    color: #A93226; /* Set your preferred color */
}

#news-results {
    margin-top: 20px;
}
.news-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.news-image {
    width: 500px;
    display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

#keyword {
    font-family: "Montserrat"; 
    font-size: 1.2em;
    padding: 10px;
    width: 50%;
    display: block;
    margin: 20px auto;
}

.button-anime{

    font-size: 16pt;

}


.button-news{

    font-size: 12pt;

}

.button-nasa{

    font-size: 10pt;

}


/* Ensure the button is centered by applying margin auto and displaying it as a block if not already */
.button-holiday {
    font-size: 12pt;
    display: inline-block; /* Use block if you want the button to be on its own line */
    margin: 20px auto; /* Adds margin on the top and bottom, auto centers it horizontally */
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Existing styles */
/* Add or adjust other styles as needed */




h1{
	max-width: 1500px;
	font-family: "Rubik mono one";
	letter-spacing: 2pt;
	background-color: #1b1b1b;
	color: whitesmoke;
	text-align: center;

}

header a{
	color: white;
}

header a:hover{
	color: whitesmoke;
	font-style: oblique;
}

h2{
	font-family: "Montserrat";
	font-size: 18pt;
	word-spacing: 7pt;
	text-align: center;
	color: #3d3d3d;

}

h3{
	font-family: "Montserrat";
	font-size: 12pt;
	word-spacing: 5pt;
	text-align: left;
	color: #424242;

}

h4{
    max-width: 1500px;
	font-family: "Montserrat";
	font-size: 13pt;
	word-spacing: 5pt;
	color: #853535;
	background-color: whitesmoke;
	text-align: center;
	

}

p{
	font-family: "Montserrat";
	font-size: 18pt;
	word-spacing: 5pt;
	text-align: center;
	color: #312b2b;

}



a{
	font-family: "Montserrat";
    color:#575656 ;
	text-decoration: none;
}

a:hover{

	font-family: "Montserrat";
    color:#575656;
	font-style: oblique;
    text-decoration: #853535 wavy underline;

}



footer a{

	font-family: "Rubik mono one";
	text-align: center;
	color: #a79a9a;
}

footer a:hover{

	color: #a79a9a;
	font-style: oblique;
	font-weight: 2pt;
}

#table th,#table td{
	width:20%;
    text-align:center;
    margin:20px auto;
    font-family: "biryani";
    text-decoration: none;

}

#center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}



img{
	text-align: center;
    
    max-width: 100%; /* or any size you prefer */
    height: auto;
    margin: 20px 0; /* Adds space above and below the image */
    

}




div.cover{
	
	border-radius: 10px;
}









/* Overrides mobile style when viewport exceeds 600px */
@media only screen and (min-width: 600px) {}